/*Style for the porte config part*/
@media (min-width: 767px) {
	.bordure{
		border-style: dotted;
	 	border-width: 0px 1px 0px 1px; 
	}
	.inline-block-config {
		display: inline-block;
		float: none;
		vertical-align:top;
		height: 260px;
	}
	.agencement{
		display: block;
	}
}

@media (max-width: 767px) {
	.bordure{
		border-style: dotted;
	 	border-width: 1px 0px 1px 0px; 
	}
	.inline-block-config {
		padding-top: 15px;
		padding-bottom: 15px;
		display: inline-block;
		float: none;
		vertical-align:top;
	}
	.agencement{
	}
}