<!DOCTYPE html>

<!-- Part html for the selection of the avatar' sex for the patient's choice -->

<section  ng-controller="AvatarCtrl">
	<div class="instructions">Choisissez le sexe de l'avatar</div>
	<div class="radio btn-radiocheckbox col-sm-offset-5 col-xs-offset-5">
		<input type="radio" name="sexe" id="F" value="option1" ng-click='sexe_selected("F")' checked />
		<label for="F">Femme </label>
	</div>
	<div class="radio btn-radiocheckbox col-sm-offset-5 col-xs-offset-5">
		<input type="radio" name="sexe" id="M" ng-click='sexe_selected("M")' />
		<label for="M">Homme</label>
	</div>
	<div class="row">
		<a class="btn btn-icon btn_config" ng-click="previous()">
 			<i class="fa fa-chevron-left fa-lg"></i> Retour
		</a>
		<a class="btn btn-icon right btn_config" ng-click="next()">
 			Lancer le choix <i class="fa fa-chevron-right fa-lg"></i>
 		</a>
	</div>
</section>