
<!-- Part html for the main menu
 -->

<!--  ui-sref refers to a state defined in controllerMenuWeb (angular-ui-router librairy)
 -->
<div ng-controller="mainMenuCtrl">

	<div class="btn_row row-centered">
		<input type="button" value="Choix de l'avatar" ui-sref="avatar" class="btn btn_config col-sm-3 col-sm-offset-0 col-xs-4 btn_home"></input>
		<input type="button" value="Sortie de Corps" ui-sref="oob" class="btn btn_config col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 btn_home"></input>
		<input type="button" value="Exercice des portes" ui-sref="portes" class="btn btn_config col-sm-3 col-sm-offset-1 col-xs-4  btn_home"></input>
	</div>

	<div class="exit_row">
		<a value="Fermer l'application" ng-click="exit()" class="btn btn-icon btn_config">
			<i class="fa fa-times"></i> Fermer l'application
		</a>
	</div>

</div>